/* 1200px min width xl*/
@include media-breakpoint-up(xl) {

     html{
        font-size: 1.3rem;
        color: rgb(228, 201, 50);

    }
    
    section {
        width: 1200px;
    }
    
    .navbar-brand {
        display: block;
        font-size: 1.4rem;
        padding-left: 10px;

    }
    .header-logo{
        width:  100px;
        padding: 0px;
    }
    #descHold {
        margin-left: auto;
        width: 300px;

    }
}