/* 992px min width lg*/
@include media-breakpoint-up(lg) {

    html {
        font-size: 1.2rem;
        color: rgb(5,250,0);

    }
    .navbar-brand {
        display: block;
        font-size: 1.2rem;
        padding-left: 10px;
    }

    #descHold {
        margin-left: auto;
        width: 400px;

    }
    
    #holder {
        width: 100%;
    }
    
    .header-logo{
        width:  120px;
        background-color:rgb(17, 182, 69);

    }
}