/* 992px min width lg*/
@include media-breakpoint-up(lg) {

    html {
        font-size: .7rem;
    }
    .navbar-brand {
        display: block;
        font-size: 1rem;
        padding-left: 10px;
    }
    /*
    #holder {
        width: 768px;
    }
    */
    .header-logo{
        width:  120px;
    }
}