/* 1200px min width xl*/
@include media-breakpoint-up(xl) {

    html {
        font-size: .9rem;
    }
    /*
    #holder {
        width: 500px;
    }
    */
    .header-logo{
        width:  140px;
    }
}