/* 576px min width sm*/
@include media-breakpoint-up(sm) {

    html {
        font-size: .8rem;
    }
    #holder {
        width: 400px;
    }
    .navbar-brand {
        display: none;
    }
    .header-logo{
        width:  70px;
    }
}