/* 576px min width sm*/
@include media-breakpoint-up(sm) {
    html {
        font-size: 1rem;

    }
    .navbar-brand {
        display: block;
        font-size: .8rem;
        padding-left: 10px;

    }
    .nav-link{
        padding: .5rem .6rem;
        font-size: .6rem;
    }
   
    #holder {
        /*width: 400px;*/
       // width: 100%;
       width: 576px;
    }
    .header-logo{
        width:  70px;
    }

    #logo-intro {
        position: absolute;
        width: 100%;
    }

    #descHold {
        margin-left: 10%;
        width: 500px;
        margin-right:0;


    }
}