/* 576px min width sm*/
@include media-breakpoint-up(sm) {
    html {
        font-size: 1rem;

    }
    .navbar-brand {
        display: block;
        font-size: .8rem;
        padding-left: 10px;

    }

   
    #holder {
        /*width: 400px;*/
        width: 100%;
    }
    .header-logo{
        width:  80px;
        background-color:rgb(255, 162, 0);
    }
    #descHold {
        margin-left: 10%;
        width: 500px;
        margin-right:0;


    }
    /*
    #descHold {
        display: flexbox;
        background: #333;
        color: white;
        font-weight: bold;
        padding: 4px 8px;
        //margin: 20px;
        margin-top: 30px;
        margin-left: auto;
        //font-size: 1rem;
        border: 1px solid grey;
        border-radius: 20px;
        width: 300px;
    }
    */
}