@import "~bootstrap/scss/bootstrap";
@import "custom-vars.scss";
@import "mobile-xs.scss";
@import "mobile-sm.scss";
@import "tablet-md.scss";
@import "desk-lg.scss";
@import "desk-xl.scss";

$enable-responsive-font-sizes: true;   

#content  
{
    color: $primary;
}

.container {
   border: 2 solid 600;
}
.container-fluid {

    border: 4 solid rgb(83, 35, 35);
}
/*
body {
    background-image: url('/src/img/bigbk.jpg') ;
}
*/
.site-header {
    background-color: red;
}

@include media-breakpoint-up(xs) { /**/ }
/* 576px min width sm*/ 
@include media-breakpoint-up(sm) { /**/ 

}
/* 768px min width md*/ 
@include media-breakpoint-up(md) { /**/ 
    .col-sm{
        background-color:blue;
    }
}
/* 992px min width lg*/ 
@include media-breakpoint-up(lg) { 
    .col-sm{
        background: grey;
    }
 }
/* 1200px min width xl*/ 
@include media-breakpoint-up(xl) { /**/ }