@import "~bootstrap/scss/bootstrap";
@import "custom-vars.scss";
@import "mobile-xs.scss";
@import "mobile-sm.scss";
@import "tablet-md.scss";
@import "desk-lg.scss";
@import "desk-xl.scss";

@font-face {
    font-family: jura;
    src: url('../fonts/jura.ttf') format('tiff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: headingFont;
    src: url('../fonts/hattori_hanzo.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: headingFonttt;
    src: url('../fonts/hattori_hanzo.woff') format('woff');
    font-weight: 700;
    font-style: oblique;
}

$enable-responsive-font-sizes: true;

h1 {
    font-family: jura;
}
h2 {
    font-family: headingFont;
}

body, intro, #content, #holder, #fullCover {
    color: $primary;
    padding: 0;
    overflow-y:hidden;
}
#holder {
    background-image: url('../img/green1_croppred.jpg');
    z-index: 100;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: absolute;
    display:block;
    height: 100%;
    width: 100%;
    padding: 0;
}
#border-a{
    position: absolute;
    left:4%;
    top:4%;
    width:92%;
    height:92%;
    border: 20px solid black;
    opacity: .6;
    z-index: 110;
}

#border-b{
    position:absolute;
    left:6%;
    top:6%;
    width:88%;
    height:88%;
    border: 20px solid black;
    opacity: .9;
    z-index: 120;
}

#interface{
    background-image: url('../img/interface192.png');
    z-index: 125;
}
.face-bk{
    position: absolute;
    background-color: black;
    opacity: .9;
    z-index: 135;
}
#face-top {
    width: 98%;
    height: 21%;
    left: 1%;
    top:1%;
    z-index: 130;
}
#face-body{
    width:65%;
    height:76%;
    left: 1%;
    top:23%;
    z-index: 140;
}
#face-nav{
    width:20%;
    height:76%;
    left: 67%;
    top:23%;
    z-index: 145;
}
#face-scroll{
    width:11%;
    height:76%;
    left: 88%;
    top:23%;
    z-index: 150;
}

#face-head {
    height:30%;
    position: relative;
    display: block;
}

.face-bod {
    position: relative;
    display: block;
    height:80%;
}
content {
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 200;
}
#fullCover {
    background-color: black;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: 300;
}

.bk-img {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: absolute;
    display:block;
    background-clip: border-box;
    top:0;
    padding: 0;
    width: 100%;
    height: 100%;
}
@keyframes hueshift {
    from {filter: hue-rotate(1);}
    to {filter: hue-rotate(350);}
}
.pattern-a {
    background-image:linear-gradient(rgba(119, 44, 204, 0.5), rgb(255, 60, 0)), url('../img/nyc_brighest.jpg');
    background-blend-mode: color-dodge;
    filter: hue-rotate(1);
    animation-name: hueshift;
    -moz-animation-name: hueshif;
    animation-duration: 10s;
}
.pattern-b{
    background-image:linear-gradient(rgba(79, 223, 13, 0.5), rgb(0, 38, 255)), url('../img/nyc_brighest.jpg');
    background-blend-mode:hue;

}
.pattern-c {
    background-image:linear-gradient(rgba(219, 21, 226, 0.438), rgba(9, 5, 41, 0.719)), url('../img/nyc_brighest.jpg');
}
.pattern-d {
    background-image:linear-gradient(rgba(240, 117, 35, 0.582), rgba(139, 8, 8, 0.719)), url('../img/nyc_brighest.jpg');
    background-blend-mode: hard-light;
}

#myLogo{
    background-image: url('../img/THR_Logo_knockout2.png');
    background-size: 70%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    opacity: .8;
    display: block;
    opacity: 0.8;
    z-index: 600;
}

#enter-button{
    width: 20rem;
    height: 2rem;
    display: block;
    z-index: 1020;
}
#enter-holder {
    position: absolute;
    width: 100%;
    height: 5rem;
    top: 1rem;
    display: block;
    z-index: 1010;
}


.q1 {
    background-color: rgba(25, 35, 175, 0.9);
    top:0;
    z-index: 10;
    height: 200px;
}
.q2 {
    background-color: rgba(175, 48, 25, 0.698);
    z-index: 20;
    height: 30%;
}
.q3 {
    background-color: rgba(25, 175, 70, 0.3);
    z-index: 30
    ;
}
.q4 {
    background-color: rgba(175, 152, 25, 0.1);
    z-index: 40;
}

.vertLine{
    background-color: black;
    width:4px;
    height: 10%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 110;
}

.horizLine{
    background-color: black;
    width:10%;
    height: 4px;
    position: absolute;
    top:0;
    left:0;
    z-index: 100;
}

.site-header {
    background-color: red;
}

@include media-breakpoint-up(xs) {
    /**/
}

/* 576px min width sm*/
@include media-breakpoint-up(sm) {
    /**/

}

/* 768px min width md*/
@include media-breakpoint-up(md) {

    /**/
    .col-sm {
        background-color: blue;
    }
}

/* 992px min width lg*/
@include media-breakpoint-up(lg) {
    .col-sm {
        background: rgb(15, 6, 34);
    }
}

/* 1200px min width xl*/
@include media-breakpoint-up(xl) {
    /**/
}