/* 768px min width md*/
@include media-breakpoint-up(md) {

    html {
        font-size: 1.1rem;
        color: rgb(255,0,0);
    }
    #holder {
        width: 768px;
        //width:100%;
    }
    .navbar-brand {
        display: block;
        font-size: 1rem;
        padding-left: 10px;
    }
    .nav-link{
        padding: .5rem .7rem;
        font-size: .7rem;
    }
    .header-logo{
        width:  80px;

    }
    #descHold {
        margin-left: auto;
        width: 310px;
        padding-right: 20px;

    }
}